.jumbotron.container
    %h1 Welcome to QuoteDB
    %p This is a front-end to a database which contains user sumbitted quotes from various sources, like IRC
    %a{class: 'btn btn-primary btn-lg'} Browse Quotes!
.well.well_quote ... Now this, is a a well!