%footer{class: 'footer'}
  %small
    %a{href: '#'} QuoteDB
    by Biohazard
  %nav
    %ul
      %li
        = link_to 'Home', controller: 'home', action: 'index'
      %li
        = link_to 'About', controller: 'home', action: 'about'
      %li
        = link_to 'Contact', controller: 'home', action: 'contact'