%header
  %nav{class: 'navbar navbar-default navbar-inverse navbar-fixed-top', role: 'navigation'}
    .navbar-header
      //data-toggle: 'collapse', data-target: '.navbar-ex1-collapse'
      %button{type: 'button', class: 'navbar-toggle'}
        %span{class: 'sr-only'} Toggle navigation
        %span{class: 'icon-bar'}
        %span{class: 'icon-bar'}
        %span{class: 'icon-bar'}
      %a{class: 'navbar-brand', href: '#'} QuoteDB
    %ul{class: 'nav navbar-nav navbar-right'}
      %li
        = link_to 'Login', controller: 'account', action: 'login'
      %li
        = link_to 'Register', controller: 'account', action: 'register'
